
<main>
        <!-- <div class="container-fluid" style="margin-top: 100px; ">
      
            <div class="row col text-center">
      
      
                <div class="col-sm-12" >
                    <div>
                        <h5><b>List of Products in Stock</b></h5>
                        <br>
                    </div> -->
      
      
    <div class="container" style="margin-top: 100px; ">
           
      <!-- <div class="ScrollStyle"> -->
      <!--Table-->
      <div class="row">
          <div class="col-sm-3"></div>
      <div class="col-sm-9">
            <h5><b>List of Products in Stock</b></h5><br>
            <table class="table" style="height:550px;width:600px;overflow-y:auto;display:block;">

                    <!--Table head-->
        
                    
        
                    <thead class="mdb-color darken-3" >
                            <tr class="text-white">
                  
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Brand Name</th>
                                    <th>Quantity</th>
                                    <th>Price per Quantity </th>
                                    <th>Stocked Date</th>
                        
                              </tr>
                    </thead>
                    <!--Table head-->  
                    <!--Table body-->
                    <tbody>
                            <tr *ngFor="let product of details;">
                                    <td >{{product.pid}}</td>
                                    <td >{{product.pname}} </td>
                                    <td>{{product.brand}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.dateVal | date: 'd/M/y' }}</td>
                                </tr>
                    </tbody>
                    <!--Table body-->
                  </table> 
      </div>
    
    </div>
    
        <!-- </div> -->
      <!--Table-->

     

      </div>
                <!-- </div>
              </div>
            </div> -->
      
      </main>
      