
<main>
  <div class="container-fluid" style="margin-top: 100px; ">

      <div class="row">
          <div class="col-sm-3" >
              <form class="form-horizontal" [formGroup]="angForm" novalidate>
                <div>
                 <h5>Customer Purchase Form</h5>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="productid">ProductID<font color="red">*</font></label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" name="productid" [(ngModel)]="productid" formControlName="productid"  (mouseout)="check()" >
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="quantity">Quantity<font color="red">*</font></label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" min="0" name="quantity" [(ngModel)]="quantity" formControlName="quantity" (mouseout)="quantitycheckOut()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price<font color="red">*</font></label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" min="0" name="price" [(ngModel)]="price"  [value]="price"formControlName="price" (mouseenter)="onKey($event);" readonly >
                    </div>
                  </div>


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <div *ngIf="angForm.controls['productid'].valid ">
                        <div *ngIf="angForm.controls['quantity'].valid ">
                          <div *ngIf="angForm.controls['price'].valid ">
                              <button type="submit" (click)="order();" class="btn btn-default">ORDER</button>
                          </div>
                        </div>

                      </div>
                  </div>
                </div>
              </form>
          </div>
          <div class="col-sm-8" >
              <div>
                  <h5> Product Details</h5>
              </div>



              <div class="ScrollStyle">
<!--Table-->
<table class="table" style="height:550px;width:600px;overflow-y:auto;display:block;">

  <!--Table head-->
  <thead class="mdb-color darken-3">
      <tr class="text-white">
         
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Brand Name</th>
        <th>Quantity</th>
        <th>Price Per Quantity</th>
        <th>Date</th>

      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr *ngFor="let product of details;">
        <td >{{product.pid}}</td>
        <td >{{product.pname}} </td>
        <td>{{product.brand}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td>{{product.dateVal | date:'d/M/y'}}</td>
    </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
</div><br><br><br><br>


    <div>
        <h5>Purchase Details</h5>
    </div>
    <div class="ScrollStyle">
<table class="table" style="height:550px;width:1000px;overflow-y:auto;display:block;">

  <!--Table head-->
  <thead class="mdb-color darken-3">
      <tr class="text-white">
          
        <tr class="text-white">
            <th>Order Id</th>
            <th>Customer Address</th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price (in ether)</th>
            <th>Date of Purchase</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let order of list;">
            <td >{{order.oid}}</td>
            <td >{{order.cusid}}</td>
            <td >{{order.pid}} </td>
            <td >{{order.pname}} </td>
            <td>{{order.quantity}}</td>
            <td>{{order.price}}</td>
            <td>{{order.dateVal | date:'d/M/y'}}</td>
        </tr>   
    </tbody>
  <!--Table body-->
</table>
</div>
       </div>
        </div>
      </div>

</main>
<ngx-spinner  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-scale-multiple"></ngx-spinner>